<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="./public/img/intro.jpg"
                alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Novedades y Recomendados</span>
                    <span class="section-heading-lower">Manga que te atrapa</span>
                </h2>
                <p class="mb-3">Descubre tomos nuevos, ediciones especiales y clásicos del manga. Envíos, stock
                    actualizado y precios justos. ¡Arma tu colección!</p>
                <div class="intro-button mx-auto">
                    <a class="btn btn-primary btn-xl" href="views/catalogo.html" onclick="loadPage(event,this.href)">
                        Ver catálogo
                    </a>
                </div>
            </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Compromiso con la comunidad</span>
                        <span class="section-heading-lower">Manga-ST</span>
                    </h2>
                    <p class="mb-0">Desde clásicos imperdibles hasta los lanzamientos más esperados: seleccionamos cada manga con pasión, cuidamos cada envío y siempre estamos atentos a traer ese tomo que te falta en tu colección.</p>
                </div>
            </div>
        </div>
    </div>
</section>